.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
    background-color: #060606;
    color: white;
  }
  
  
  .links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .links li {
    margin-left: 60px;
  }
  
  .links a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }
  
  .links a:hover {
    color: #D79D3B;
    text-decoration: underline;
  }
  