.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
    margin-top: 6rem;

  }
  
  .headline {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 300;
  }
  
  .paragraph {
    font-size: 18px;
    font-weight: 300;
    width: 500px;
  }

  .linebreak {
      height: 4px;
      width: 500px;
      background:#D79D3B ;
      margin-top: 10px;
      margin-bottom: 20px;
  
  
  }
  