.header {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  position: relative;
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 270px;
  margin-left: 25px;
}

.logo {
  height: 200px;
  width: auto;
}

.scrollDown {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: scrollDownAnimation;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.arrow {
  margin-right: 15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #fff transparent transparent transparent;
}

.button_mainheader{
  position: absolute;
  bottom: 350px;
  left: 51%;
  transform: translateX(-50%); 
}

@keyframes scrollDownAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
