.sectionContainer {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  justify-content: space-between;
} 

.sectionImage {
  position: relative;
  width: 15%;
}

.sectionText {
  width: 55%;
  margin-top: 100px;
} 

.h3 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    margin-bottom: 1.5rem;
  }

.h3::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 56%;
  height: 3px;
  background-color: #D79D3B;
}

.p {
  font-weight: 200;
  margin-bottom: 40px;
} 