.bookingTable {
    width: 55%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
  
  .bookingTable th,
  .bookingTable td {
    padding: 15px;
    text-align: left;
    border-bottom: 2px solid #ddd;
  }
  
  .bookingTable th {
    background-color: white;
    color: black;
  }
  
  .bookingTable tbody tr:hover {
    background-color: #D79D3B;
  }


  .headingContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 430px;
    margin-left: 430px;
  }
  
  .title {
    margin-right: auto;
  }
  
  .bookingButton {
    margin-left: 20px;
  }

  .deleteIcon {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }

  .deleteIcon:hover {
    transform: scale(1.2);
  }

/*Modal*/
  .confirmationDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 45px;
    border-radius: 4px;
    text-align: center;
    color: black;
  }
  
  .confirmationDialog h3 {
    margin-bottom: 20px;
  }
  
  .confirmationDialog button {
    margin: 5px;
    padding: 15px 25px;
    border: none;
    border-radius: 4px;
    background-color: #72191A;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
  }
  
  .confirmationDialog button:hover {
    background-color: #d79d3b;
  }

  