.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 6rem;
    padding-right: 6rem;
    background-color: #060606;
    padding-bottom: 3rem;
    padding-top: 3rem;
    color: white;

}

.column {
    flex: 1 1 33%;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.column:nth-child(2) {
    justify-content: center;
}


.footerTitle {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 1rem;
    color: #fff;
}

.footerTitle2 {
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #fff;
}


.ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.socialIcons {
    display: flex;
    margin: 0;
    padding: 0;
}

.socialIcon {
    margin-right: 1rem;
}

.socialIcon:last-child {
    margin-right: 0;
}

.socialIcon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-size: 65px;
    margin-left: 55px;
}

.socialIcon a:hover {
    color: #D79D3B;
}

.p {
    margin: 0;
    color: #fff;
}