.LogInContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 100px;
}

.LogIn{
width: 400px;
height: 350px;
background-color: #d6d6d6; 
margin-top: 50px;
border: solid 7px ;

}

.LogIn_h1{
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400; 
    margin-top: 30px;
    color: #0d0d0d;
    transition: all 0.3s ease-in-out;
    background-color: white;
    background-repeat: no-repeat;
    margin-left: 17px;
    padding: 10px 17px;
    width: 350px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
}

.LogIn_p {
    font-size: 15px;
    font-weight: 100;
    width: 370px;
    line-height:20px;
    text-align: center;
    margin-left: 4px;
    color: #0d0d0d;
    margin-bottom: 40px;
    
};

