.NewsletterContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewsletterForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    max-width: 1000px;
    width: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
  
  }

  .Newsletter_h3 {
    padding: 20px;
    font-size: 30px;
  }
  
  .NewsletterLabel {
    font-size: 15px;
    color: white;
    margin-bottom: 30px;
    padding-left: 40px;
  }
  
  .NewsletterInput {
    padding: 10px;
    border-radius: 5px;
    border: 2px;
    border-color: white;
    margin-bottom: 3px;
    margin-top: 20px;
    max-width: 1000px;
    width: 553px;
    font-size: 1rem;
  }
  
  .NewsletterButton {
    display: inline-block;
    padding: 15px 25px;
    background-color: #72191A;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; 
  }
  
  .NewsletterButton:hover {
    background-color:#D79D3B ;
  }
  