.NewsletterForm {
    transform: translateX(72%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1000px;
    width: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .Newsletter_h3 {
    padding: 20px;
    font-size: 30px;
  }
  
  .NewsletterLabel {
    font-size: 15px;
    color: white;
    margin-bottom: 30px;
    padding-left: 40px;
  }
  
  .NewsletterInput {
    padding: 10px;
    border-radius: 5px;
    border: 2px;
    border-color: white;
    margin-bottom: 3px;
    margin-top: 20px;
    max-width: 1000px;
    width: 553px;
    font-size: 1rem;
  }
  
  .NewsletterButton {
    background-color: #72191A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Oswald', sans-serif; 
  }
  
  .NewsletterButton:hover {
    background-color:#D79D3B ;
  }
  