.NewsletterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D79D3B;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }

  .Newsletter_h3 {
    padding: 20px;
  }
  
  .NewsletterLabel {
    font-size: 1.2rem;
    color: #72191A;
    margin-bottom: 10px;
  }
  
  .NewsletterInput {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 100%;
    font-size: 1rem;
  }
  
  .NewsletterButton {
    background-color: #72191A;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .NewsletterButton:hover {
    background-color: #b21f21;
  }
  